.navbar {
  /* background-color: rgb(24, 144, 255); */
  background-color: #191919;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
}

.navbar h2{
  display: inline-block;
  margin-left: 30px;
  margin-top: 21px;
  color: #f2f2f2;
  cursor: pointer;
}

.navbar a {
  display: block;
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 23.9px 25px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: white;
  color: black;
}

.home-page {
  text-align: center;
  height: 100vh;
  background-size: cover;
  background-image: url("./media/testbackground.png");
}

.middle-object {
  padding-top: 10%;
  color: white;
}

.middle-object h1 {
  font-size: 40px;
  color: white;
  margin-top: 20px;
}

.wphoto {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 3px solid white;
}

.line {
  border-color: white;
  border-width: 3px;
  width: 50px;
  border-top: 0px solid #eee;
}

.icons {
  margin-top: 35px;
}

.icons a {
  color: inherit;
}

.icon {
  margin: 0px 20px 0px 20px;
  cursor: pointer;
  color: white;
}

.about-page {
  text-align: center;
  background-position: center top;
  min-height: calc(100vh + 30px);
  background-size: cover;
  background-image: url("./media/shanghai.jpg");
}

.left-half {
  float: left;
  background-color: rgba(0, 0, 0, 0.6);
  height: calc(100vh + 30px);
  width: 60%;
}

.left-half {
  color: white;
}

.about-text {
  width: 70%;
  margin: auto;
}

.about-me {
   font-size: 50px;
   margin-top: 80px;
   color: white;
}

.description {
  margin: 30px 0px 30px 0px;
  font-size: 28px;
  overflow: scroll;
}

.projects-page {
  height: calc(100vh - 90.0px);
  margin: auto;
  width: 50%;
}

.projects-container h1 {
  margin-top: 50px;
  font-size: 40px;
  text-align: center;
}

.ant-card-cover img {
  height: 214.297px;
  object-fit: cover;
  object-position: 50% 0%;
}

.link {
  color: white;
  text-decoration: underline;
}